parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 7
			path: config/sentinel-actor.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(NazirulAmin\\SentinelActor\\Jobs\\MonitoringExampleJob\) and ''getMonitoringContex…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Jobs/MonitoringExampleJob.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(NazirulAmin\\SentinelActor\\Notifications\\MonitoringExampleNotification\) and ''getMonitoringContex…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Notifications/MonitoringExampleNotification.php

		-
			message: '#^Trait NazirulAmin\\SentinelActor\\Traits\\UpdatesApplicationStatus is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/UpdatesApplicationStatus.php
